* {
    margin: 0;
    padding: 0;
}

/* .headed {
    line-height: 100px;
    padding: 0 20px;
    background-color: grey;
    color: lightskyblue;
} */



/* .navmenu {
    line-height: 100px;
    float: right;
    
} */

/* .navbar a {
    color: lightcyan;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
} */

.navbar {
    background-color: #1D82DE;
   
}
.nav-link {
     color: white;
}
.nav-middle {
    color: yellow;
}
.navbar-brand img {
    width: 300px;

}
.navbar-collapse {
    justify-content: flex-end;
    padding: 15px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: yellow;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


img.large {
    width: 60%;
    height: 60%;
    margin: 10px;
}

img.medium {
    width: 30%;
    height: 30%;
    margin: 10px;
}

img.small {
    width: 15%;
    height: 15%;
    margin: 10px;
}

img.align_left {
    float: left;
    margin-right: auto;
    margin-top: auto;
}

img.align_right {
    float: right;
    margin-right: auto;
}

img.align_center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.clear {
    clear: both;
}

.column_left {
    float: left;
    width: 40%;
    margin: 10px;
}
.column_right {
    float: left;
    width: 40%;
    margin: 10px;
}

.textcenter {
    padding: 15px;
    text-align: center;
    width: 98%;
    color: #0892D0
}
img.border {
    
    padding: 30px;
    margin-top: 8px;
    vertical-align: middle;
    
}

.centertext { 
    text-align:center;                  
    bottom:0;                          
    left:0;
}  

.motordisplay.img {
    height: auto;
    width: 400px;
    padding: 20px;
}

.border {
    border-color: white; 
}
.img {
    border: none;
}

.flex-container{
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
}
.flex-container .column{
    padding: 10px;
    /* background: lightblue; */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}
.flex-container .column.bg-alt{
    /* background: #b4bac0; */
    color: yellow;
}
